@font-face {
	font-family: "icons";
	src: url("../font/icons.eot?85856180");
	src: url("../font/icons.eot?85856180#iefix") format("embedded-opentype"),
		url("../font/icons.woff2?85856180") format("woff2"),
		url("../font/icons.woff?85856180") format("woff"),
		url("../font/icons.ttf?85856180") format("truetype"),
		url("../font/icons.svg?85856180#icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

:root {
	--banner-background: #29374c;
	--heading-gradient: linear-gradient(
		90deg,
		#e06dc6 10%,
		#f27062 31%,
		#67bea4 47%,
		#3b83f2 100%
	);
	--link-gradient: linear-gradient(
		to bottom right,
		#4e91a9 30%,
		#3979d6 85%,
		#4a94be 100%
	);
	--heading-gradient-2: linear-gradient(
		90deg,
		#e06dc6 10%,
		#f27062 31%,
		#67bea4 47%,
		#3b83f2 100%
	);
}

html {
	min-height: 100vh;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	background-color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Source Sans Pro", Helvetica,
		Arial, sans-serif;
}

.icon {
	font-family: "icons";
	font-weight: normal;
}

.icon.wand {
	&::before {
		content: "ïƒ";
	}
}

.scrollrubberbanding {
	position: fixed;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	background-color: var(--banner-background);
	z-index: -10;
}

.realmain {
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	display: grid;
	grid-template-rows: minmax(100vh min-content);
	margin: 0;
	min-height: 100vh;
	background-color: white;
	z-index: -5;
}

.main {
	z-index: 0;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	overflow: hidden;
}

.content {
	display: grid;
	grid-template-columns: 1fr 10px minmax(0, 500px) 10px 1fr;
	> * {
		grid-column: 3;
		word-wrap: break-word;
	}
}

pre {
	word-wrap: normal;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

img {
	width: 100%;
	width: calc(100% + 20px);
	margin-left: -10px;
	margin-right: -10px;
}

.content.footer {
	grid-row: 3;
}

.spacer {
	height: 100%;
	min-height: 100%;
}

.banner {
	grid-column: 2 / 5;
	color: white;
	margin: 0;
	padding: 20px;
	text-align: center;
	position: relative;
	overflow-x: visible;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #29374c;
	background: linear-gradient(transparent 10%, #29374c 10%, #29374c 90%, transparent 90%);
	a {
		color: white;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: var(--banner-background);
		transform: rotate(1deg) scale(100, 1);
		z-index: -1;
	}
	&.expandup {
		padding-bottom: 40px;
		margin-bottom: 20px;
		&::before {
			transform: scale(100, 100) rotate(1deg);
			transform-origin: bottom center;
		}
	}
	&.expanddown {
		padding-top: 40px;
		margin-top: 20px;
		color: #8b97a9;
		&::before {
			transform: scale(100, 100) rotate(1deg);
			transform-origin: top center;
		}
	}
}

.markdown {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--banner-background);
	}
}

.colorheader {
	color: var(--banner-background);
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
	.banner {
		.markdown {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				background: var(--heading-gradient);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				text-fill-color: transparent;
			}
		}
		.colorheader {
			background: var(--heading-gradient);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
			& img {
				display: inline;
			}
		}
	}
}

@supports not (background-clip: text) {
	.banner {
		.markdown {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: #3979d6;
			}
		}
		.colorheader {
			color: #3979d6;
		}
	}
}

a {
	text-decoration: none;
	white-space: nowrap;
}

.markdown a:not(.tryitbtn),
a.colorlink {
	position: relative;
	white-space: nowrap;

	@supports (background-clip: text) or (-webkit-background-clip: text) {
		& {
			background: var(--link-gradient);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
		}
	}

	@supports not (background-clip: text) {
		& {
			color: #007aff;
		}
	}
}

.markdown a::after,
a.colorlink::after {
	content: "";
	position: absolute;
	bottom: 1px;
	height: 1px;
	left: 0;
	right: 0;
	background: var(--link-gradient);
	transform: scale(0, 1);
	visibility: hidden;
	transition: 0.1s transform, 0.1s visibility;
}

.markdown a:hover::after {
	visibility: visible;
	transform: scale(1, 1);
}

a {
	&.colorlink:hover::after {
		visibility: visible;
		transform: scale(1, 1);
	}
	&.tablink {
		margin-left: 10px;
		margin-right: 10px;
	}
	&.blandlink {
		color: #67bea4;
		border-bottom: 1px dashed rgba(103, 190, 164, 0.522);
		&:hover {
			border-color: #67bea4;
		}
	}
}

hr {
	border-bottom: 1px dashed rgba(103, 190, 164, 0.522);
	border-top: 1px dashed rgba(103, 190, 164, 0.522);
}

.tablink {
	font-weight: normal;
	border: 1px solid rgba(200, 200, 200, 0.5);
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: 0.1s background-color, 0.1s color;
	&:hover {
		background-color: rgba(200, 200, 200, 0.2);
	}
	&:active {
		opacity: 0.7;
	}
}

h1.giant {
	margin: 0;
	font-size: 60pt;
}

h6 {
	font-size: 15pt;
	margin: 0;
	margin-bottom: 20px;
	color: #67bea4;
	font-weight: normal;
}

pre,
.code {
	margin: 20px;
	padding: 0;
	position: relative;
	display: grid;
	> {
		textarea:focus + div + .tryitbtn {
			opacity: 0;
			pointer-events: none;
		}
		.tryitbtn {
			opacity: 1;
			transition: 0.1s opacity;
			position: absolute;
			top: 0;
			right: 0;
			margin: 10px;
			padding: 10px;
			background-color: #555555;
			border: 2px solid #dddddd;
			border-radius: 5px;
			color: white;
			font-weight: 500;
			text-decoration: none;
			z-index: 1;
		}
		.enablejavascript {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: rgba(255, 255, 255, 0.5);
			text-align: center;
			&:hover {
				display: block;
			}
		}
		code,
		textarea {
			padding: 10px;
			caret-color: #3b83f2;
			margin: 0;
			border: 2px solid #dddddd;
			outline: none;
			border-radius: 5px;
			&:focus {
				border-color: #3b83f2;
			}
			&[disabled] {
				color: black;
				opacity: 1;
				&:hover + .enablejavascript {
					display: block;
				}
			}
		}
	}
}

iframe {
	width: 100%;
	height: 300px;
}
