<!DOCTYPE html>

<html>
<head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<title>{{ site.title | default: site.github.repository_name }} | ScPL, An easier way to write shortcuts</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>
<div class="scrollrubberbanding"></div>
<div class="realmain">
<div class="main">
	<div class="content">
		<div class="banner expandup">
	 <h1 class="colorheader giant">ScPL</h1>
	 <h6>An easier way to write shortcuts</h6>
	 <div style="display: flex;justify-content: center;flex-wrap: wrap;"><a class="tablink" href="https://docs.scpl.dev">Documentation</a> <a href="https://editor.scpl.dev" class="tablink">Editor</a> <a href="https://docs.scpl.dev/gettingstarted" class="tablink">Getting Started</a></div>
		</div>
		<div class="markdown">
          {{ content }}
      		</div>
	</div>
	<div class="content footer">
		<div class="banner expanddown">
			<a class="blandlink"  href="https://docs.scpl.dev">Documentation</a> &nbsp;&nbsp;&nbsp;<a class="blandlink"  href="https://editor.scpl.dev">Editor</a> &nbsp;&nbsp;&nbsp;<a class="blandlink" href="https://editor.scpl.dev">Getting Started</a>
			<p><a href="https://github.com/pfgithub/scpl" class="blandlink">ScPL</a> is released under the <a href="https://raw.githubusercontent.com/pfgithub/shortcutslang/master/LICENSE" class="blandlink">MIT License</a><br/>© 2019 <a href="https://pfg.pw" class="blandlink">pfgithub</a></p>
		</div>
	</div>
</div>
</div>


<script src="script.js" ></script>
</body>

</html>
