<!DOCTYPE html>

<html>
	<head>
		{% if site.google_analytics %}
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "{{ site.google_analytics }}");
		</script>
		{% endif %}
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
		/>
		<link
			rel="stylesheet"
			href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
		/>

		<link
			rel="shortcut icon"
			href="{{ '/assets/favicon/favicon.ico?v=' | append: site.github.build_revision | relative_url }}"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{{ '/assets/favicon/apple-touch-icon.png?v=' | append: site.github.build_revision | relative_url }}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="{{ '/assets/favicon/favicon-32x32.png?v=' | append: site.github.build_revision | relative_url }}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="{{ '/assets/favicon/favicon-16x16.png?v=' | append: site.github.build_revision | relative_url }}"
		/>
		<link
			rel="manifest"
			href="{{ '/assets/favicon/site.webmanifest?v=' | append: site.github.build_revision | relative_url }}"
		/>
		<link
			rel="mask-icon"
			href="{{ '/assets/favicon/safari-pinned-tab.svg?v=' | append: site.github.build_revision | relative_url }}"
			color="#29374c"
		/>
		<meta name="msapplication-TileColor" content="#29374c" />
		<meta name="theme-color" content="#29374c" />

		<link rel="manifest" href="favicon/manifest.json" />
		<title>
			{{ site.title | default: site.github.repository_name }} | ScPL, An easier
			way to write shortcuts
		</title>
		<link
			href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="scrollrubberbanding"></div>
		<div class="realmain">
			<div class="main" id="fragmentfix">
				<div class="content">
					<div class="banner expandup">
						<a href="https://scpl.dev"
							><h1 class="colorheader giant">
								<span class="icon wand"></span>ScPL
							</h1></a
						>
						<h6>An easier way to write shortcuts</h6>
						<div style="display: flex;justify-content: center;flex-wrap: wrap;">
							<a class="tablink" href="https://docs.scpl.dev">Documentation</a>
							<a href="https://editor.scpl.dev" class="tablink">Editor</a>
							<a href="https://docs.scpl.dev/gettingstarted" class="tablink"
								>Getting Started</a
							>
						</div>
					</div>
					<div class="markdown">
						{{ content }}
					</div>
				</div>
				<div class="content footer">
					<div class="banner expanddown">
						<a class="blandlink" href="https://docs.scpl.dev">Documentation</a>
						&nbsp;&bull;&nbsp;<a
							class="blandlink"
							href="https://editor.scpl.dev"
							>Editor</a
						>
						&nbsp;&bull;&nbsp;<a
							class="blandlink"
							href="https://editor.scpl.dev"
							>Getting Started</a
						>
						<br/><br/>
						<a
							class="blandlink iconlink githublink"
							href="https://github.com/pfgithub/shortcutslang"
							>GitHub</a
						>
						&nbsp;&nbsp;&nbsp;<a
							class="blandlink iconlink discordlink"
							href="https://discord.gg/2qqfFKc"
							>Discord</a
						>
						<p>
							<a href="https://github.com/pfgithub/scpl" class="blandlink"
								>ScPL</a
							>
							is released under the
							<a
								href="https://raw.githubusercontent.com/pfgithub/shortcutslang/master/LICENSE"
								class="blandlink"
								>MIT License</a
							><br />© 2019
							<a href="https://pfg.pw" class="blandlink">pfgithub</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<script src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	</body>
</html>
